body {
    background-color: #dedede !important;
}

.generalContainer {
    border-radius: 76px;
    background: #ece4e4;
    box-shadow: inset -6px -6px 15px #666666, inset 6px 6px 15px #ffffff;
}

.addTodoTitle {
    border-radius: 28px;
    background: #ece4e4;
    box-shadow: -5px 5px 24px #5e5b5b, 5px -5px 24px #ffffff;
}
